.card {
  display: flex;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid gray;
}

.card-content {
  width: 45%;
  margin-left: 5%;
}

.card-content mat-card-title {
  font-size: 100%;
  font-weight: bold;
  color: #337fb1;
}

.card-content mat-card-subtitle {
  font-size: 90%;
}

.card-img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.card-buttons button {
  width: 150px;
}
